In [1]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

In [2]:
data = load_boston()

In [3]:
dir(data)

['DESCR', 'data', 'feature_names', 'filename', 'target']

In [4]:
df = pd.DataFrame(data.data,columns=data.feature_names)

In [5]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [6]:
df['target']= data.target

In [7]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [8]:
df.shape

(506, 14)

In [9]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [13]:
from sklearn.linear_model import Ridge

In [40]:
model = Ridge(alpha=100)
##if alpha value increase acuuracy will decrease, and alpha decrease accuracy will increase , if alpha 0 Linear and Rigid will be same

In [23]:
model.fit(x_train,y_train)

Ridge(alpha=100)

In [24]:
model.score(x_test,y_test)

0.5927292801276103

In [25]:
model.score(x_train,y_train)

0.7472099719179608

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
model = LinearRegression()

In [28]:
model.fit(x_train,y_train)

LinearRegression()

In [29]:
model.score(x_train,y_train)

0.7697699488741149

In [30]:
model.score(x_test,y_test)

0.6354638433202151

In [31]:
from sklearn.linear_model import Lasso

In [36]:
model = Lasso(alpha=3000)

In [37]:
model.fit(x_train,y_train)

Lasso(alpha=3000)

In [38]:
model.score(x_test,y_test)

-0.001119359203955339

In [39]:
model.score(x_train,y_train)

0.0